@tailwind base;
@tailwind components;
@tailwind utilities;

.fa:hover {
    /* Change color on hover */
    color: blue;
  }

  /* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;
  background-color: #333; /* Dark background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #666; /* Dark color for the scrollbar handle */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Lighter color when hovered */
}
